* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #1d1919;
  font-family: sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

p {
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: height .5s ease-out, padding .5s ease-out;
  background: #4087d2;
  text-align: justify;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #ffce76;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #fff;
  background: #0075f6;
}

a:active {
  color: #0900c3;
}

:target+p {
  padding: 10px 15px;
  border-bottom: 1px solid #1d1919;
  background: #d5d4d4;
}

#div-one:target+p {
  height: 100px;
  background: #d5d4d4;
}

#div-two:target+p {
  height: 150px;
  background: #d5d4d4;
}

#div-three:target+p {
  height: 150px;
  background: #d5d4d4;
}